/* Style Header */
.header {
  padding: 60px;
  text-align: center;
  background: #00407a;
  color: white;
}

.header h1 {
  font-size: 40px;
}

/* Navigation bar */
.navbar {
  overflow: hidden;
  background-color: #52bdec;
}

.navbar a {
  display: flex;
  color: white;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

.navbar a.left {
  float: left;
  padding: 10px 15px;
  font-size: 20px;
}

.navbar a.right {
  float: right;
  padding: 10px 15px;
  font-size: 40px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .navbar a.left {
    float: none;
    width: 100%;
  }
  .navbar a.right {
    float: left;
  }
}

/* Content */
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.side p {
  text-align: justify;
  line-height: 1.5;
}

.box-img {
  display: block;
  border-radius: 50%;
  max-width: 60%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.address {
  margin-top: 0px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.main li {
  margin: 10px 0;
  font-weight: 100;
  list-style-type: square;
}

.container {
  flex-wrap: nowrap;
  width: auto;
  text-align: center;
  vertical-align: top;
}

.container img {
  max-height: 400px;
  max-width: 100%;
}
.container-grey {
  background-color: #f1f1f1;
  padding: 0.5rem 1rem;
  text-align: justify;
}
